body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainConPadLR {
  padding-left: 1em;
  padding-right: 1em;
}

.hr {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 4em;
  margin-right: 4em;
  border-style: inset;
  border-width: 1px;
  border: 1px solid black;
}

input {
  padding: 3px 5px;
  margin-right: 2px;
  border: 2px solid black;
  font-weight: bold;
}

.centerText {
  text-align: center;
  color: black;
}

textarea {
  border: 2px solid black;
  font-weight: bold;
}

.loggedIn {
  padding-bottom: 10px;
}

.loginName {
  margin: 2px;
  color: white;
}

/* .avatarWel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-bottom: 2px;
} */

input:focus {
  padding: 3px 5px;
  margin-right: 2px;
  border: 2px solid grey;
  font-weight: bold;
  outline: none;
}

.pageButton {
  border: none;
  background-color: black;
  color: white;
  padding: 3px 10px;
  font-weight: bold;
  outline: none;
  width: 90px;
  height: 40px;
}

button:hover {
  color: red;
  border-bottom: 2px solid red;
}

button:focus {
  color: red;
}

.content {
  display: block;
  text-align: left;
}

.sortButton {
  border: none;
  border-bottom: 2px solid black;
  text-align: center;
  margin: 5px;
  background-color: white;
  color: black;
  padding: 3px 10px;
  font-weight: bold;
  outline: none;
  width: 90px;
  height: 40px;
}

.headerCon {
  padding-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.topBar {
  background-color: black;
  position: sticky;
  top: 0;
}

.topTitle {
  grid-column-start: 1;
  color: white;
  padding-top: 15px;
}

.title {
  color: black;
  text-decoration: underline;
}

.buttonsCon {
  grid-column-start: 2;
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: 80px 80px 80px; */
  align-items: center;
  justify-items: center;
}

.sortButtonsCon {
  display: inline-grid;
  grid-template-columns: 100px 100px 100px;
  grid-column-gap: 30px;
  justify-items: center;
  align-content: center;

  /* width: 50%; */
}

.login {
  grid-column-start: 3;
}
.button1 {
  grid-column-start: 1;
  color: white;
  background-color: black;
  padding: 3px 5px;
  font-weight: bold;
}

.button1:focus {
  color: red;
  transition: color 0.2s;
}

.button2 {
  grid-column-start: 2;
  color: red;
}
.button2:focus {
  color: red;
}

.button3 {
  grid-column-start: 3;
}

.articleL {
  margin: 10px;
}

.articles {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-align: center;
}

.articles:focus {
  color: red;
}

.articles:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.articleList {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 8em;
  margin-right: 8em;
  border-style: inset;
  border-width: 1px;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.5s;
}

.link:hover {
  color: red;
  transition: color 0.5s;
}

.link:focus {
  color: red;
  transition: color 0.2s;
}

.centerCon {
  justify-self: center;
  padding-left: 400px;
}

.latestPostText {
  float: right;
  width: 50%;
  padding-left: 0;
  padding-top: 60px;
  padding-right: 50px;
}

.latestPostVideo {
  padding-left: 50px;
}

.articleCardsCon {
  min-width: 275;
  margin-bottom: 12;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 91%;
  margin-left: 60px;
  grid-gap: 20px;
}

.articleCard {
  border-radius: 4px;
  background-color: lightgray;
  transition: all 0.3s ease-in-out;
}

.articleCard:hover {
  background-color: lightcoral;
  transition: all 0.3s ease-in-out;
}

.cardHr {
  display: block;
  border-style: inset;
  border-width: 3px;
  border: 3px solid red;
  width: 5%;
  border-radius: 5px;
}

.topicCardsCon {
  min-width: 275;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 91%;
  margin-left: 60px;
}
