body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainConPadLR {
  padding-left: 1em;
  padding-right: 1em;
}

p {
  font-family: "Roboto Mono", monospace;
}

h1 {
  font-family: "Lexend Deca", sans-serif;
}

button {
  font-family: "Lexend Deca", sans-serif;
}

h3 {
  font-family: "Lexend Deca", sans-serif;
}

h2 {
  font-family: "Lexend Deca", sans-serif;
}

.hr {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 4em;
  margin-right: 4em;
  border-style: inset;
  border-width: 1px;
  border: 1px solid black;
}

input {
  padding: 3px 5px;
  margin-right: 2px;
  border: 2px solid black;
  font-weight: bold;
  max-width: 100%;
  width: 79%;
}

.centerText {
  text-align: center;
  color: black;
}

textarea {
  border: 2px solid black;
  font-weight: bold;
}

.loggedIn {
  max-width: 100%;
  padding-bottom: 10px;
}

.loginName {
  margin: 2px;
  color: white;
  /* width: 167.5; */
}

input:focus {
  padding: 3px 5px;
  margin-right: 2px;
  border: 2px solid grey;
  font-weight: bold;
  outline: none;
}

.pageButton {
  border: none;
  background-color: black;
  color: white;
  padding: 0px 10px;
  font-weight: bold;
  outline: none;
  width: 80px;
  height: 40px;
  max-width: 100%;
}

button:hover {
  color: red;
  border-bottom: 2px solid red;
}

button:focus {
  color: red;
  transition: color 0.2s;
}

.content {
  display: block;
  text-align: left;
}

.sortButton {
  border: none;
  border-bottom: 2px solid black;
  text-align: center;
  margin: 5px;
  background-color: white;
  color: black;
  padding: 3px 10px;
  font-weight: bold;
  outline: none;
  width: 90px;
  height: 40px;
}

.headerCon {
  padding-top: 1em;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  max-width: 100%;
  height: 124px;
}

.topBar {
  background-color: black;
  position: sticky;
  top: 0;
  max-width: 100%;
  border-bottom: 4px solid red;
}

.topTitle {
  grid-column-start: 1;
  color: white;
  padding-top: 20px;
  justify-content: end;
}

.topTitle:focus {
  color: red;
  transition: color 0.2s;
}

.title {
  color: black;
  text-decoration: underline;
}

.buttonsCon {
  grid-column-start: 2;
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.sortButtonsCon {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 30px;
  justify-items: center;
  align-content: center;
  max-width: 100%;
}

.login {
  grid-column-start: 3;
}
.button1 {
  grid-column-start: 1;
  color: white;
  background-color: black;
  padding: 3px 5px;
  font-weight: bold;
}

.button1:focus {
  color: red;
  transition: color 0.2s;
}

.button2 {
  grid-column-start: 2;
  color: red;
}
.button2:focus {
  color: red;
}

.articleL {
  margin: 10px;
}

.articles {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-align: center;
}

.articles:focus {
  color: red;
}

.articles:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.articleList {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 8em;
  margin-right: 8em;
  border-style: inset;
  border-width: 1px;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.5s;
}

.link:hover {
  color: red;
  transition: color 0.5s;
}

.link:focus {
  color: red;
  transition: color 0.2s;
}

.centerCon {
  justify-self: center;
  padding-left: 400px;
}

.latestPostText {
  float: right;
  width: 630px;
  padding-left: 0;
  padding-top: 60px;
  padding-right: 50px;
  max-width: 100%;
}

.latestPostDetails {
  font-family: "Roboto Mono", monospace;
}

.latestPostVideo {
  padding-left: 50px;
  max-width: 100%;
}

.articleCardsCon {
  min-width: 275;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 91%;
  margin-left: 60px;
  grid-gap: 20px;
  max-width: 100%;
}

.articleCard {
  text-decoration: none;
  border-radius: 4px;
  background-color: lightgray;
  transition: all 0.3s ease-in-out;
}

.articleCard:hover {
  background-color: lightcoral;
  transition: all 0.3s ease-in-out;
}

.cardHr {
  display: block;
  border-style: inset;
  border-width: 3px;
  border: 3px solid red;
  width: 5%;
  border-radius: 5px;
}

.topicCardsCon {
  /* min-width: 275; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 91%;
  margin-left: 60px;
  max-width: 100%;
}

.cardLink {
  text-decoration: none;
}

.articleDetails {
  border-right: 2px solid red;
  height: 35px;
  padding-right: 30px;
}

.article {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2.2;
  border-right: 2px solid red;
  border-left: 2px solid red;
  padding-left: 20px;
  padding-right: 20px;
}

.commentDetailsCon {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-column-gap: 30px;
  justify-items: center;
  align-content: center;
}

.textArea {
  resize: both;
  max-width: 100%;
}

.verticalLine {
  border-right: 2px solid red;
  height: 35px;
}

.articleTitle {
  text-decoration: underline;
  text-decoration-color: red;
}

.commentDetails {
  border-right: 2px solid red;
  height: 35px;
  padding-right: 30px;
}

.loginBox {
  max-width: 100%;
  /* width: 167.5px; */
}

@media screen and (max-width: 450px) {
  .latestPostVideo {
    padding: 0;
    margin: 0;
    height: 200px;
  }

  .latestPostText {
    padding: 0;
    margin: 0;
  }

  .sortButtonsCon {
    grid-column-gap: 0;
  }

  .articleCardsCon {
    grid-template-columns: 1fr;
    padding: 15px;
    margin: 0;
  }

  .articleDetails {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 0.85em;
  }

  .article {
    width: 80%;
  }

  .responsiveArticleDetails {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 0.85em;
  }

  .topicCardsCon {
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    width: 400px;
  }

  .headerCon {
    height: 20%;
  }
}
